.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.048000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.728027;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._e{margin-left:-1.184427px;}
._0{width:1.102821px;}
._1{width:2.514821px;}
._3{width:3.528090px;}
._2{width:5.080221px;}
._a{width:6.636870px;}
._5{width:9.364720px;}
._4{width:10.428720px;}
._6{width:17.327660px;}
._d{width:19.819526px;}
._c{width:27.871652px;}
._7{width:29.170213px;}
._b{width:50.602198px;}
._8{width:88.610183px;}
._9{width:143.177304px;}
.fc2{color:rgb(89,89,89);}
.fc1{color:rgb(238,110,23);}
.fc0{color:rgb(255,255,255);}
.fs8{font-size:24.000000px;}
.fs6{font-size:40.000000px;}
.fsa{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.fs3{font-size:54.000000px;}
.fs9{font-size:56.000000px;}
.fs5{font-size:80.000000px;}
.fs7{font-size:120.000000px;}
.fs2{font-size:144.000000px;}
.fs4{font-size:160.000000px;}
.fsb{font-size:300.000000px;}
.fs1{font-size:480.000000px;}
.y0{bottom:0.000000px;}
.y24{bottom:0.733562px;}
.y23{bottom:78.699684px;}
.y22{bottom:92.499683px;}
.y21{bottom:106.299685px;}
.y20{bottom:120.099683px;}
.y1f{bottom:187.292183px;}
.y1e{bottom:203.852177px;}
.y1d{bottom:220.412178px;}
.y1c{bottom:236.972181px;}
.y1b{bottom:253.532179px;}
.y28{bottom:313.250336px;}
.y26{bottom:313.251373px;}
.y1a{bottom:349.556530px;}
.y19{bottom:367.556530px;}
.y27{bottom:376.250343px;}
.y25{bottom:376.251381px;}
.y18{bottom:385.556530px;}
.y17{bottom:405.253752px;}
.y16{bottom:407.119902px;}
.y15{bottom:509.240982px;}
.y14{bottom:530.240980px;}
.y13{bottom:615.255234px;}
.y12{bottom:631.815231px;}
.y11{bottom:648.375229px;}
.y10{bottom:664.935219px;}
.yf{bottom:681.495216px;}
.ye{bottom:698.055214px;}
.yd{bottom:714.615208px;}
.yc{bottom:731.175209px;}
.yb{bottom:747.735212px;}
.ya{bottom:764.295210px;}
.y9{bottom:805.771452px;}
.y5{bottom:867.077477px;}
.y4{bottom:883.637470px;}
.y3{bottom:900.197472px;}
.y2{bottom:916.757475px;}
.y1{bottom:933.317472px;}
.y8{bottom:973.877396px;}
.y7{bottom:1007.117393px;}
.y6{bottom:1070.710323px;}
.h7{height:30.078125px;}
.h1{height:36.093750px;}
.h4{height:42.336000px;}
.h6{height:62.720000px;}
.h8{height:94.080000px;}
.h3{height:112.896000px;}
.h5{height:125.440000px;}
.h9{height:218.408203px;}
.h2{height:376.320000px;}
.h0{height:1152.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x10{left:46.405518px;}
.xf{left:47.840546px;}
.x1{left:64.948837px;}
.x2{left:107.498032px;}
.x6{left:172.288330px;}
.x4{left:198.477203px;}
.x11{left:204.712616px;}
.x5{left:225.531525px;}
.x7{left:226.940453px;}
.xe{left:234.218483px;}
.xc{left:251.093483px;}
.xd{left:258.468483px;}
.x12{left:312.712616px;}
.x3{left:371.726349px;}
.x9{left:427.725433px;}
.x13{left:431.562988px;}
.x8{left:460.476364px;}
.xb{left:465.850433px;}
.x14{left:539.562988px;}
.xa{left:556.725433px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._e{margin-left:-1.579236pt;}
._0{width:1.470427pt;}
._1{width:3.353094pt;}
._3{width:4.704120pt;}
._2{width:6.773628pt;}
._a{width:8.849160pt;}
._5{width:12.486293pt;}
._4{width:13.904960pt;}
._6{width:23.103546pt;}
._d{width:26.426035pt;}
._c{width:37.162203pt;}
._7{width:38.893618pt;}
._b{width:67.469597pt;}
._8{width:118.146910pt;}
._9{width:190.903073pt;}
.fs8{font-size:32.000000pt;}
.fs6{font-size:53.333333pt;}
.fsa{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.fs3{font-size:72.000000pt;}
.fs9{font-size:74.666667pt;}
.fs5{font-size:106.666667pt;}
.fs7{font-size:160.000000pt;}
.fs2{font-size:192.000000pt;}
.fs4{font-size:213.333333pt;}
.fsb{font-size:400.000000pt;}
.fs1{font-size:640.000000pt;}
.y0{bottom:0.000000pt;}
.y24{bottom:0.978083pt;}
.y23{bottom:104.932912pt;}
.y22{bottom:123.332911pt;}
.y21{bottom:141.732913pt;}
.y20{bottom:160.132910pt;}
.y1f{bottom:249.722911pt;}
.y1e{bottom:271.802902pt;}
.y1d{bottom:293.882904pt;}
.y1c{bottom:315.962908pt;}
.y1b{bottom:338.042905pt;}
.y28{bottom:417.667114pt;}
.y26{bottom:417.668498pt;}
.y1a{bottom:466.075373pt;}
.y19{bottom:490.075373pt;}
.y27{bottom:501.667124pt;}
.y25{bottom:501.668508pt;}
.y18{bottom:514.075373pt;}
.y17{bottom:540.338336pt;}
.y16{bottom:542.826536pt;}
.y15{bottom:678.987976pt;}
.y14{bottom:706.987974pt;}
.y13{bottom:820.340312pt;}
.y12{bottom:842.420308pt;}
.y11{bottom:864.500305pt;}
.y10{bottom:886.580292pt;}
.yf{bottom:908.660288pt;}
.ye{bottom:930.740285pt;}
.yd{bottom:952.820277pt;}
.yc{bottom:974.900279pt;}
.yb{bottom:996.980283pt;}
.ya{bottom:1019.060280pt;}
.y9{bottom:1074.361936pt;}
.y5{bottom:1156.103302pt;}
.y4{bottom:1178.183294pt;}
.y3{bottom:1200.263295pt;}
.y2{bottom:1222.343300pt;}
.y1{bottom:1244.423297pt;}
.y8{bottom:1298.503194pt;}
.y7{bottom:1342.823191pt;}
.y6{bottom:1427.613764pt;}
.h7{height:40.104167pt;}
.h1{height:48.125000pt;}
.h4{height:56.448000pt;}
.h6{height:83.626667pt;}
.h8{height:125.440000pt;}
.h3{height:150.528000pt;}
.h5{height:167.253333pt;}
.h9{height:291.210938pt;}
.h2{height:501.760000pt;}
.h0{height:1536.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x10{left:61.874023pt;}
.xf{left:63.787394pt;}
.x1{left:86.598450pt;}
.x2{left:143.330709pt;}
.x6{left:229.717773pt;}
.x4{left:264.636271pt;}
.x11{left:272.950155pt;}
.x5{left:300.708700pt;}
.x7{left:302.587270pt;}
.xe{left:312.291311pt;}
.xc{left:334.791311pt;}
.xd{left:344.624644pt;}
.x12{left:416.950155pt;}
.x3{left:495.635132pt;}
.x9{left:570.300578pt;}
.x13{left:575.417318pt;}
.x8{left:613.968486pt;}
.xb{left:621.133911pt;}
.x14{left:719.417318pt;}
.xa{left:742.300578pt;}
}
